{% extends "AppBundle::layout.html.twig" %}
{% block content %}
    <div class="container-fluid" style="margin-top: 40px;">
        <div class="jumbotron">
            <a href="{{ path("login.logout") }}">Logout</a>
        </div>
    </div>
{% endblock %}